.cart-container {
    .section-title-underlined {
        margin-bottom: 50px;

        h1 {
            border-bottom : 3px solid #e65550;
            width         : max-content;
            padding-bottom: 10px;
        }
    }
}