.baby-care-tab-container {
  padding-top: 1rem;
  color: $heading-color;
  @media #{$sm} {
    padding-top: 1rem;
  }
  .section-title-underlined {
    // padding-bottom: 2rem;
    h1 {
      // font-weight: 600;
      font-family: $noto;
      color: $heading-color;
      display: inline-block;
      position: relative;
      font-size: 36px;
      border-bottom: 3px solid $primary-color;
      padding-bottom: 0.25rem;
      font-weight: normal;
      margin-bottom: 1rem;
      margin-top: 1rem;
      // &::after {
      //   content: "";
      //   position: absolute;
      //   transform: translate(-115%, 1300%);
      //   width: 75%;
      //   border-bottom: 4px solid $primary-color;
      // }
      @media #{$sm} {
        font-size: 28px;
        font-weight: 500;
        margin: 0rem 0rem 1rem 0rem;
        // &::after {
        //   transform: translate(-115%, 1100%);
        // }
      }
    }
  }
  p {
    font-family: $noto;
    color: $text-secondary;
    @media #{$sm} {
      text-align: justify;
    }
  }
  .image-wrapper {
    height: 225px;
    // float: right;
    // background-color: #fff6da;
    // border: 1px solid #f9f9f9;
    // box-shadow: 0 0 5px #eee;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: auto;
      float: right;
    }
  }
  .baby-care-tabs {
    // @include padding-vertical(2, "rem");
    padding-top: 2rem;
    @media #{$md} {
      padding-top: 1rem;
    }
    .nav-tabs {
      // @extend .container;
      // padding-left: 150px;
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid $primary-color;
      background-color: #ffffff;
      border-top: 1px solid #eaeaea;
      @media #{$sm} {
        justify-content: space-between;
      }
      .nav-link {
        //   margin-bottom: -1px;
        //   border: 1px solid transparent;
        //   border-top-left-radius: 0.25rem;
        //   border-top-right-radius: 0.25rem;
        background: transparent;
        //   margin-right: 0.25rem;
        //   width: 17%;
        border-bottom: 1px solid $primary-color;
        //   border-bottom: 0;
        font-size: 16px;
        // font-weight: 600;
        color: $heading-color;
        text-align: center;
        position: relative;
        font-size: 12px;
        &:hover {
          border-color: transparent;
        }
        @media #{$sm} {
          border: none;
          padding: 0.5rem 0.8rem;
        }
        @media #{$md} {
          border: none;
          padding: 0.5rem 0.8rem;
        }
      }
      .nav-link.active,
      .nav-item.show .nav-link {
        color: #495057;
        background-color: #ffffff;
        //   border-color: #dee2e6 #dee2e6 #fff;
        //   border-top: 2px solid $primary-color;
        color: $primary-color;
        border: none;
        // border-bottom: 1px solid #fff;
        border-bottom: 1px solid $primary-color;
        // border-bottom: none;

        &::after,
        &::before {
          // border-bottom: 5px solid #6a0136;
          // content: "";
          // position: absolute;
          // left: 0;
          // right: 0;
          // margin: 0 auto;
          // width: 0;
          // height: 0;
          // border-top: 25px solid #6a0136;
          // border-left: 50px solid transparent;
          // border-right: 50px solid transparent;

          //new style
          //   position: absolute;
          //   content: " ";
          //   height: 8px;
          //   width: 50%;
          //   background: inherit;
          //   bottom: -7px;

          //   background: transparent !important;
        }
        // &::before {
        //   left: 0px;
        //   border-right: 1px solid #dadada;
        //   border-top: 1px solid #dadada;
        //   transform-origin: left bottom;
        //   transform: skewX(45deg);
        // }
        // &::after {
        //   right: 0px;
        //   border-left: 1px solid #dadada;
        //   border-top: 1px solid #dadada;
        //   transform-origin: right bottom;
        //   transform: skewX(-45deg);
        // }

        &::before {
          // content: "";
          // position: absolute;
          // left: 50%;
          // width: 0px;
          // height: 0px;
          // border-style: solid;
          // border-width: 26px 22px 0 4px;
          // border-color: $primary-color transparent transparent transparent;
          // z-index: 15;
          // bottom: -26px;
          content: "";
          position: absolute;
          left: 40%;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 13px 11px 0px 10px;
          border-color: #e65550 transparent transparent
            transparent;
          z-index: 15;
          bottom: -14px;
          @media #{$sm} {
            border: none;
          }
          @media #{$md} {
            border: none;
          }
        }
      }
    }
  }

  .tab-item {
    padding: 2rem 0;
    @media #{$sm} {
      padding: 1rem 0 0 0;
    }
    @media #{$md} {
      padding: 2rem 0 1rem 0;
    }
  }

  .tabs-navigation {
    display: flex;
    // justify-content: space-between;
    padding: 2rem 0;
    // border-top: 6px solid #dadada;
    @media #{$sm} {
      padding: 0rem 2.5rem 2.5rem 2.5rem;
    }
    @media #{$md} {
      padding: 0rem 2.5rem 2.5rem 3rem;
    }
    .dots-section {
      width: 50%;
      display: flex;
      align-items: center;
      .circle {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #dadada;
        margin-left: 0.5rem;
        // cursor: pointer;
        &.active {
          width: calc(20px + 40px);
          border-radius: 20px;
          background-color: $primary-color;
        }
      }
    }
    .arrows-section {
      width: 50%;
      //   text-align: right;
      .nav-icon {
        font-size: 44px;
        color: $primary-color;
        overflow: hidden;
        border-radius: 50%;
        cursor: pointer;
        &.active {
          &:hover {
            cursor: pointer;
            color: $white;
            background-color: $primary-color;
          }
        }
        &.disabled {
          opacity: 0.6;
        }
      }
      @include navIconLeft();
      @include navIconRight();
      @include navIconLeftArabic();
      @include navIconRightArabic();

    }
    .arabic-arrows-section {
      display: inline-flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}
